.App {
  text-align: center;
}

.CountDown {
    display: flex;
    justify-content: center;
    height: 100vh;
}
.Complete {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.Complete-inner {
  border: 5px solid green;
  padding: 20px;
  color: white;
  font-size: 30px;
}

.Complete-inner-link {
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


