.App {
  text-align: center;
}


.CountDown {
    display: flex;
    justify-content: center;
    height: 100vh;
}

@media (max-width: 768px) {
  .flip-clock {
    --fcc-digit-block-width: 20px !important;
    --fcc-digit-block-height: 44px !important;
    --fcc-digit-font-size: 16px !important;
  }
}
.Complete {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.Complete-inner {
  border: 5px solid green;
  padding: 20px;
  color: white;
  font-size: 30px;
}

.Complete-inner-link {
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


