
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('../src/img/desktop-black.jpg');
  background-size: cover;
  background-color: #6886b8;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 768px) {
  body {
    background: url('../src/img/mobile-black.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #808183;
}
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
